@media all and (max-width: 992px) {
    .page {
        flex-direction: column;
        aligncontent: center;
        text-align: center;
    }

    .page-header {

    }

    .page-main {
        flex-direction: column;
    }

    .page-main-left {

    }

    .page-main-right {
        width: 100%;
    }

    .page-footer {

    }

    .card--body-text
    {
        display: none;
    }

    .card--learn-more-button{
        display: block;
    }

}