@media all and (min-width: 992px) {

    .page {
        display: block;
        align-content: center;
        text-align: center;
        margin: auto;
    }

    .page-header {

    }

    .page-main {

    }

    .page-footer {

    }

}




















